# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.env
.venv/

# Environment Variables (IMPORTANT - API keys yahan hote hain)
.env
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log